{#- jinja2: lstrip_blocks: true, trim_blocks: true -#}
# {{ ansible_managed }}
# DNS provider credentials for certbot {{ acme_dns01_provider }} plugin
# Permissions on this file should be 0600

{% for key, value in acme_dns01_credentials.items() %}
{{ key }} = {{ value }}
{% endfor %}
